{% extends 'block/base.html' %}
{#{% extends "account/base.html" %}#}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block container %}
    <div class="container login_meeting">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <p>Логин</p>
            {{ form.username }}
            <p>Эл.почта</p>
            {{ form.email }}
            <p>Пароль</p>
            {{ form.password1 }}
            <p>Подтверждение пароля</p>
            {{ form.password2 }}
            {#  {{ form.as_p }}#}
            <br/>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
            {#  <button type="submit">{% trans "Sign Up" %} &raquo;</button>#}
        </form>
    </div>
{% endblock %}
