/*.body{*/
    /*background-image: url(../img/12w3.jpg);*/
    /*background-image: {% url() %};*/
/*}*/
.login_meeting{
    text-align: center;
    width: 370px;
    height: 280px;
    background: #35b0ff;
    color: aquamarine;
}
.logout_meeting{
    text-align: center;
    width: 370px;
    /*height: 20px;*/
    background: #35b0ff;
}
.logout_meeting a{
    text-align: center;
    color: ivory;
}
.register_meeting{
    text-align: center;
    width: 340px;
    height: 370px;
    background: #35b0ff;

}
.main{
    width: 100%;
    /*background: #35b0ff;*/
    color: aquamarine;
}
.output_system{
font-size: 20px;
}

.click_me{
    font-size: 8px;
}
.login_submit{
    width:270px;
    background:#1d18ff;
}
.logout_main{
    margin-top: 50px;

    text-align: center;
}

.users input[type="text"]{
    border-radius: 63px;
    color: ivory;
    width: 200px;
background-color: #1d18ff;
}


.users label{
    border-radius: 63px;
    color: black;
background-color: gold;
}
#id_users{
    border-radius: 1px;
    width: 100%;
}
#id_time_meeting{
width:100%
}

.table-user  div{
    display: inline-block;
}

.table-user > div{
    width: 100%;
    float: left;
}
.table-user  div.hr{
    /*width: 50px;*/
    display: block;
    clear: both;
    /*width: 100%;*/
}
.registr{width: 100%; background: gold; height: 428px; color: black }
.blockusers{margin-left:5%; margin-right:5%; float: left }
.userssmeeting{
    text-align: left;
    background: #b4b426;
    color: #060601;
    width: auto;

}
.signup p{
    color: ivory;
}
.signup{
    color: #000;
}

.carousel .item {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
}
.carousel .next.left,
.carousel .prev.right {
  opacity: 1;
  z-index: 1;
}
.carousel .active.left,
.carousel .active.right {
  opacity: 0;
  z-index: 2;
}
.carousel .carousel-control {
  z-index: 1000;
  outline:none;
}