{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {{ form.media }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block title %}{% endblock %} &ndash; Meeting</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'block/style.css' %} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'block/style.css' %} " rel="stylesheet">
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<link rel="stylesheet" href="{% static 'block/selectize.bootstrap3.css' %}">
		<script src="{% static 'js/selectize.js' %}"></script>
</head>
<body>
<nav>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'block.views.users' %}">Profile</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'block.views.author' %}">meet the author</a></li>
                <li><a href="{% url 'block.views.my_meeting' %}">my meeting</a></li>
                <li><a href="{% url 'block.views.failure_to_meet' %}">failure to meet</a></li>
                <li><a href="{% url 'block.views.logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'block.views.index' %}">login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div style="text-align: center;">

    <div class="row">
        <div class="blockusers">
            <h1 class="page-header">Вы зашли как -{% block PersonalArea %}{% endblock %}</h1>

            {% block registr %}{% endblock %}


            {% block userss %}{% endblock %}
        </div>
    </div>

    {% if request.user.is_authenticated %}


        <h2>{% block titletable %}<h2 class="sub-header">{% endblock %}</h2>

        <div>
            {% block staticks %}{% endblock %}
            {#    <img style="width: 100%" src="{% static "img/12w3.jpg" %}">#}

        </div>
    {% else %}

    {% endif %}
</div>


{% block script %}{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




</body>
</html>
