{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {#    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>#}
    {{ form.media }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %} &ndash; Meeting</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'block/style.css' %} " rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {#    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">#}

    <!-- Custom styles for this template -->
    {#    <link href="signin.css" rel="stylesheet">#}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    {#    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>#}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<nav>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'block.views.users' %}">Profile</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'block.views.author' %}">meet the author</a></li>
                <li><a href="{% url 'block.views.my_meeting' %}">my meeting</a></li>
                <li><a href="{% url 'block.views.failure_to_meet' %}">failure to meet</a></li>
                <li><a href="{% url 'block.views.logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'block.views.index' %}">login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div style="height: 100px">
{#<div class="container" >#}
{#<div class="row otstup">#}
{#    <div class="col-md-2"></div>#}
{#    <div class="col-md-8">#}
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Маркеры слайдов -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Содержимое слайдов -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'img/city.png' %}">
                    <div class="carousel-caption">
                        <h3>Встречи Кировоградцев</h3>
                        <p>Где это видано, чтобы люди в Кировограде без прописки проживали.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="{% static 'img/city.png' %}">
                    <div class="carousel-caption">
                        <h3>Твои друзья тебя заждались</h3>
                        <p>Договорись о встречи уже сегодня!!!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="{% static 'img/city.png' %}">
                    <div class="carousel-caption">
                        <h3>Сервис встречь</h3>
                        <p>Организовуй встречи, и будь ближе с своими друзьями.</p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
{#        </div>#}
{#    </div>#}
{#</div>#}
    </div>


{% block container %}{% endblock %}
{% block condelet %}{% endblock %}

<div class="container logout_meeting">
    {% block logout_container %}{% endblock %}
</div>
<div class="main">
    {% block main %}{% endblock %}
</div>
{% block script %}

{% endblock %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
