{% extends 'block/base.html' %}
{% load staticfiles %}
{% block title %}
    Пойди на встречу
{% endblock %}

{% block container %}
    {% if request.user.is_authenticated %}
        <div class="container logout_meeting ">
{#            <a href="{% url 'block.views.logout' %} ">выйти</a><br>#}
        </div>
{#        <br>#}
        <div class="success" style="text-align: center; font-size: 25px"><a href="{% url 'block.views.users' %} ">создать
            встречу</a></div>

    {% else %}
        <div class="container login_meeting">
            <form class="form-signin" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">Please sign in</h2>
                {% for field in form %}
                    <label for="inputEmail" class="sr-only"></label>
                    {{ field.label }}<br/>{{ field }}

                    <label for="inputPassword" class="sr-only"></label>
                    <div class="checkbox"></div>
                {% endfor %}

                <div><input type="submit" class="login_submit" value="ок"></div>
                <br/>
                {% load socialaccount %}
                <a href="{% provider_login_url 'google' method='oauth2' %}"
                   class="btn btn-gg">Google</a>
                <a href="/accounts/facebook/login/?process=login" class="btn btn-social-icon btn-facebook"><span
                        class="fa fa-facebook"></span></a>

            </form>
            <a href="/accounts/signup/">registration</a>
            <br/>
            <div class="success" style="text-align: center; font-size: 25px"><a href="{% url 'block.views.users' %} ">создать
                встречу</a></div>
        </div>
    {% endif %}

{% endblock %}

{% block main %}
    {% if request.user.is_authenticated %}
        <p> По-настоящему семейный проект - это:
            - рекламно-информационное издание (журнал для всей семьи: статьи для родителей, развлечения для детей), а
            также порталnashydetky.ru
            –интересные тематические фотопроекты, рекламные фотосъемки и электронная база моделей.
            - организация стилизованных вечеринок и больших семейных праздников на открытых площадках г.Ростова-на-Дону
            и области, организатор всевозможных конкурсов и фестивалей таланта и творчества, мастер-классов
            -занятия для детей: школа моды, школа журналистики и фотографии, актерская группа.</p>
        <p> По-настоящему семейный проект - это:
            - рекламно-информационное издание (журнал для всей семьи: статьи для родителей, развлечения для детей), а
            также порталnashydetky.ru
            –интересные тематические фотопроекты, рекламные фотосъемки и электронная база моделей.
            - организация стилизованных вечеринок и больших семейных праздников на открытых площадках г.Ростова-на-Дону
            и области, организатор всевозможных конкурсов и фестивалей таланта и творчества, мастер-классов
            -занятия для детей: школа моды, школа журналистики и фотографии, актерская группа.</p>
        <p> По-настоящему семейный проект - это:
            - рекламно-информационное издание (журнал для всей семьи: статьи для родителей, развлечения для детей), а
            также порталnashydetky.ru
            –интересные тематические фотопроекты, рекламные фотосъемки и электронная база моделей.
            - организация стилизованных вечеринок и больших семейных праздников на открытых площадках г.Ростова-на-Дону
            и области, организатор всевозможных конкурсов и фестивалей таланта и творчества, мастер-классов
            -занятия для детей: школа моды, школа журналистики и фотографии, актерская группа.</p>
        <p> По-настоящему семейный проект - это:
            - рекламно-информационное издание (журнал для всей семьи: статьи для родителей, развлечения для детей), а
            также порталnashydetky.ru
            –интересные тематические фотопроекты, рекламные фотосъемки и электронная база моделей.
            - организация стилизованных вечеринок и больших семейных праздников на открытых площадках г.Ростова-на-Дону
            и области, организатор всевозможных конкурсов и фестивалей таланта и творчества, мастер-классов
            -занятия для детей: школа моды, школа журналистики и фотографии, актерская группа.</p>
        <div class="success" style="text-align: center; font-size: 25px"><a href="{% url 'block.views.users' %} ">создать
            встречу</a></div>
    {% endif %}

    <script src="https://use.fontawesome.com/6f6bc2565b.js"></script>



{% endblock %}
