{% extends 'block/base.html' %}
{% block title %}
    Пойди на встречу
{% endblock %}

{% block logout_container %}

    <div><a class="form-signin" href="{% url 'block.views.index' %} ">Home</a></div>

{% endblock %}
{% block main %}
    <div class="logout_main">
    <p class="output_system">You are logged out!</p>
    <p class="output_system">You can now make appointments only anonymously</p>
    <p class="Click_me"><a href="{% url 'block.views.index' %} ">Click me!!!</a></p>
    <div>

{% endblock %}

