{% extends 'block/base_users.html' %}
{% block title %}
    Пойди на встречу
{% endblock %}
{% block PersonalArea %}
    {{ request.user }}
{% endblock %}
{% block staticks %}
    <table class="table table-striped" style="width: 100%">
        <thead>
        <tr>

            <th style="width: 10px">#</th>
            <th style="width: 50px">Название</th>
            <th style="width: 100px">Приглашённые</th>
            <th style="width: 120px">Время встречи</th>
            <th style="width: 100%">Описание</th>
            <th style="width: 100px">Подтвердившие участники</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <form>
            {% for line in meeting %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ line.title }}</td>
                    <td>{{ line.awaiting }}</td>
                    <td>{{ line.datetime }}</td>
                    <td style="text-align: left">{{ line.description }}</td>
                    <td>{{ line.confirmed }}</td>
                    <td><a href="output/{{ line.id }}">закрыть встречу</a></td>

                </tr>
            {% endfor %}
        </form>
        </tbody>
    </table>
{% endblock %}
{% block titletable %}Мои встречи{% endblock %}

