{% extends 'block/base.html' %}
{% block title %}
    Пойди на встречу
{% endblock %}

{% block container %}

    <h1>Регистрация пользователя</h1>
    <form action="." method="post">

        {% csrf_token %}
        Логин <br/>
        {{ form.username }}<br/>
        Пароль <br/>
        {{ form.password1 }}<br/>
        {{ form.password2 }}<br/>


        <input type="submit" value="Зарегистрировать"/>
    </form>

{% endblock %}

