{% extends 'block/base_users.html' %}
{% block title %}
    Поиск друзьей
{% endblock %}
{% block PersonalArea %}
    {{ request.user }}
{% endblock %}
{% block staticks %}
    <form name="checkbox" method="post">
    {% csrf_token %}
        <div class="col-lg-6">
            <div class="input-group">
                {{ form_sear.search_sources }}
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="save">
                 </span>
            </div>
        </div>
    <input type="text" id="wqeee" style="width: 100px; size: 20px; height: 35px; color: #1d18ff;
                    background-color: #a0a0a0">
    </form>
    <div class="demo">
        <div class="control-group">
        </div>
        <script>
            $('#select-state').selectize({
                {#                    maxItems: 3#}
            });
        </script>
    </div>
{% endblock %}
{% block titletable %}Найди своих друзьей


{#<select ="select">#}
{#  <option value="value1">Value 1</option>#}
{#  <option value="value2" selected>Value 2</option>#}
{#  <option value="value3" selected>Value 3</option>#}
{#</select>#}

{% endblock %}


{% block script %}
    <script type="text/javascript">


  function ready() {
{#    alert( 'DOM готов' );#}
{#    alert( "Размеры картинки: " + img.offsetWidth + "x" + img.offsetHeight );#}
      document.getElementById("search_sources").value = "dddd";
      value = select.options[select.selectedIndex].value;
      document.getElementById('test').multiple = 'erfr'
  }

  document.addEventListener("DOMContentLoaded", ready);
{#document.getElementById("wqeee").value = "ddwwwdd";#}


    </script>
{#<img id="img" src="https://js.cx/clipart/yozhik.jpg?speed=1">#}
{% endblock %}


{##}
{#{% block script %}#}
{#    <script type="text/javascript">#}
{# #}
{#        select = document.getElementById(h);#}
{#        select = Number(document.getElementById("search_sources").value);#}
{#        document.getElementById("wqeee").style.backgroundColor = "#FFFFFF";#}
{#        document.getElementById("wqeee").value = "dddd";#}
{#    }#}
{##}
{#    </script>#}
