{% extends 'block/base_users.html' %}
{% block title %}
    Пойди на встречу
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var s = document.forms.checkbox,
                d = s.querySelectorAll('input[type="checkbox"]:not([value]), input[type="checkbox"][value=""]');
        for (var i = 0; i < d.length; i++) // чтобы не было написано NaN, убираем в disabled пункты, где не прописаны значения
            d[i].disabled = true;
        s.onchange = function () { // начало работы функции сложения
            var n = s.querySelectorAll('[type="checkbox"]'),
                    itog = '';
            var select = '';
            for (var j = 0; j < n.length; j++) {
                n[j].checked ? itog += (n[j].value) + ',' : itog;
            }
            document.getElementById('id_users').value = itog.substring(0, itog.length - 1);
        }
    </script>

{% endblock %}

{% block PersonalArea %}
    {{ request.user }}
{% endblock %}

{% block registr %}

    <div class="col-xs-6 col-sm-3 placeholder" style="width: 350px;">

        <div style="width: 302px; height: 400px; background: #439cb4;">
            <form action="." method="post" class="users">
                {% csrf_token %}
                {{ form.name_meeting }}<label style="width: 100px; size: 100px"> Name meeting</label>
                {{ form.meeting_point }}<label style="width: 100px"> Meeting point</label>
                <br/>
                <p style="color: black">Time meeting</p>{{ form.time_meeting }}
                <p style="width: 200px; color: black">Descriptions meeting</p>
                {{ form.descriptions_meeting }} <br/>
                {{ form.users }} <br/>
                <input type="submit" class="btn btn-primary btn-block" style="width:302px" value="ok"/>
            </form>
        </div>

    </div>
{% endblock %}

{% block userss %}
    <div class="col-xs-6 col-sm-3 placeholder userssmeeting">
        <a style="color: white" href="{% url 'block.views.search_user' %}">Поиск друзей</a>
        <form name="checkbox">
            <div class="table-user">
                {% for line in executors %}
                    <div style="width: 70px;">
                        <input class="test_{{ forloop.counter }}" type="checkbox" name="checkbox"
                               id="{{ line }}" value="{{ line }}" date-value="{{ line.email }}">{{ line }}
                    </div>
                    {% cycle "" "" "" "" "" "" "" "" "<div class='hr'></div>" %}
                {% endfor %}
            </div>
            <p style="color: antiquewhite"></p> {{ form_sear.sources }}
        </form>

        <div class="demo">
            <div class="control-group">
            </div>
            <script>
                $('#select-state').selectize({
{#                    maxItems: 3#}
                });
            </script>
        </div>
    </div>
    {% if request.user.is_authenticated %}
        <div>
            <p style="color: aliceblue; font-size: 20px">Отправить письмо всем учасникам встречи!!!</p>
            <form class="form-signin" method="post">
                {% csrf_token %}
                <div>{{ form_mail.sources }}</div>
                {{ form_mail.messages }}
                <div><input type="submit" class="login_submit" value="отправить сообщение "></div>
            </form>
        </div>
    {% else %}
        <p>Дорой друг <a href="/accounts/signup/">зарегистрируйся</a> и имей возможность общатся с участниками встречи
        </p>
    {% endif %}
{% endblock %}

{% block staticks %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 10px"></th>
            <th style="width: 10px">#</th>
            <th style="width: 50px">Title</th>
            <th style="width: 100px">Party</th>
            <th style="width: 120px">Date time</th>
            <th style="width: 50px">Autor</th>
            <th style="width: 100%">Описание</th>
            <th style="width: 50px">Подтвержденные</th>
            <th>Подтвердить</th>

        </tr>
        </thead>
        <tbody>
        <form>
            {% for line in rows %}
                <tr>
                    <td><a href="{{ line.id }}/">Отказаться</a></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ line.title }}</td>
                    <td>{{ line.awaiting }}</td>
                    <td>{{ line.datetime }}</td>
                    <td>{{ line.autor }}</td>
                    <td style="text-align: left">{{ line.description }}</td>
                    <td>{{ line.confirmed }}</td>
                    <td><a href="confirmed/{{ line.id }}">Подтвердить</a></td>

                </tr>
            {% endfor %}
        </form>
        </tbody>
    </table>
{% endblock %}

{% block titletable %}Приглашение на встречу{% endblock %}

